<p id="notice"><%= notice %></p>

<h1>Drivers</h1>
<div class="card-columns">
  <% @drivers.each do |driver| %>
    <div class="card" style="width: 18rem;">
      <div style="width:100%; height: 200px; background-image: url(<%= driver.picture_url %>); background-size:cover; background-position:center;"></div>
      <div class="card-body">
        <h5 class="card-title"><%= driver.full_name %></h5>
        <p class="card-text">Conductor.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><b>DNI:</b> <%= driver.document %></li>
        <li class="list-group-item"><b>KM Recorridos:</b> <%= driver.kilometers %></li>
        <li class="list-group-item"><%= link_to 'Ver Viajes', trips_path(:chofer_id => driver.id), :class=>"card-link" %></li>
      </ul>
      <div class="card-body">
        <%= link_to 'Ver Detalle', driver, :class=>"card-link" %>
        <%= link_to 'Edit', edit_driver_path(driver),:class=>"card-link" %>
        <%= link_to 'Destroy', driver, method: :delete, data: { confirm: 'Are you sure?' },:class=>"card-link" %>
      </div>
    </div>
  <% end %>
</div>
<br>

<%= link_to 'New Driver', new_driver_path, :class=>"btn btn-primary active" %>
