<%= form_with(model: vehicle, local: true) do |form| %>
  <% if vehicle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vehicle.errors.count, "error") %> prohibited this vehicle from being saved:</h2>

      <ul>
      <% vehicle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :brand %>
    <%= form.text_field :brand %>
  </div>

  <div class="field">
    <%= form.label :model %>
    <%= form.text_field :model %>
  </div>

  <div class="field">
    <%= form.label :plate %>
    <%= form.text_field :plate %>
  </div>

  <div class="field">
    <%= form.label :year %>
    <%= form.number_field :year %>
  </div>

  <div class="field">
    <%= form.label :vehicle_type_id %>
    <%= collection_select(:vehicle, :vehicle_type_id, VehicleType.all, :id, :name) %>
  </div>

  <div class="field">
    <%= form.label :passenger_capacity %>
    <%= form.number_field :passenger_capacity %>
  </div>

  <div class="field">
    <%= form.label :max_weight %>
    <%= form.number_field :max_weight %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
