<p id="notice"><%= notice %></p>

<h1>Vehicles</h1>


<div class="container">
  <div class="row">
    <% @tipos.each do |tipo| %>
      <div class="col-md">
        <h5><%= tipo.name %></h5>
        <table class="table table-hover">
            <thead class="thead-dark">
              <tr>
                <th>Auto</th>
                <th>Año</th>
                <th>Kilometros</th>
                <th colspan="3"></th>
              </tr>
          </thead>
          <tbody>
              <% tipo.vehicles.each do |vehicle| %>
                <tr>
                  <td scope="row"><%= vehicle.describe %></td>
                  <td><%= vehicle.year %></td>
                  <td><%= vehicle.kilometers %></td>
                  <td><%= link_to 'Show', vehicle %></td>
                  <td><%= link_to 'Edit', edit_vehicle_path(vehicle) %></td>
                  <td><%= link_to 'Destroy', vehicle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
      </div>
    <% end %>
  </div>
</div>

<br>

<%= link_to 'New Vehicle', new_vehicle_path, :class=>"btn btn-primary active" %>
