<!DOCTYPE html>
<html>
  <head>
    <title>Parcial2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">VehiculosBNB</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to 'Vehiculos', vehicles_path, { :class=>"nav-link"} %>
          </li>
          <li class="nav-item">
            <%= link_to 'Conductores', drivers_path, { :class=>"nav-link"} %>
          </li>
          <li class="nav-item">
            <%= link_to 'Viajes', trips_path, { :class=>"nav-link"} %>
          </li>
          <li class="nav-item">
            <%= link_to 'Tipos de Vehiculo', vehicle_types_path, { :class=>"nav-link"} %>
          </li>
        </ul>
        <span class="navbar-text">
          La mejor empresa de autos.
        </span>
      </div>
    </nav>
    <div class="container">
      <%= yield %>
  </div>
  </body>
</html>
